<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="profile.html">DEVPATH</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link active" href="profile.html">Perfil</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:add_skill' %}">Curriculo</a>
                </li>
            </ul>
            <div class="form-inline my-lg-0">
                <a href="/logout">
                <button type="button" class="btn btn-sm btn-danger">Logout</button>
                </a>
                <!-- <span class="glyphicon glyphicon-user"></span> -->
            </div>
        </div>
    </div>
</nav>

<br>
<br>
<br>