<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="skills.html">Skills</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="education.html">Educação</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="experiences.html">Experiências</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="projects.html">Projetos</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="all.html">Visualizar tudo</a>
    </li>
</ul>