{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block body_content %}
{% include "partials/navbar.html" %}
  <!-- Tabs navegation -->
  <div class="container col-sm-8">
    {% include "partials/tabs.html" %}

    <!-- Skills - aba 1; -->
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade show active" id="home">
        <div class="card p-5">
          <h1 class="display-6">Education</h1>
          <hr class="my-4">
          <div class="row">
            <form action="{% url 'dashboard:add_education' %}" method="POST" class="col-md-12">
              {% csrf_token %}
              <!-- Input 1 -->
              <div class="input-group  mt-4">

                <div class="input-group-prepend">
                  <select name="item_id">
                    <option selected>Choose...</option>
                    {% for ed in eds %}
                      <option value="{{ ed.id }}">{{ ed.name }} - {{ ed.education_type }}</option>
                    {% endfor %}
                  </select>
                </div>

                <input type="text" class="form-control">

                <div class="input-group-append">
                  <select>
                    <option selected>Level</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>

              </div>

              <button type="submit" class="btn btn-primary mt-4">Adicionar</button>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}