{% extends 'base.html' %}

{% block title %} 
  DevPath - Home
{% endblock %}

{% block body_content %}  
  <div class="container welcome">
    <div class="text-center">
      <main>
        <h1> DevPath v1.0</h1>
        <p>Crie seu curriculo online!</p>
        <p class="lead">
          <a href="{% url 'user_manager:register' %}">
            <button type="button" class="btn btn-outline-primary">Cadastro</button>
          </a>
          <a href="{% url 'user_manager:login' %}">
            <button type="button" class="btn btn-outline-primary">Login</button>
          </a>
          <a href="./servicos">
            <button type="button" class="btn btn-outline-primary"> Serviços </button>
          </a>
          <a href="./contato">
            <button type="button" class="btn btn-outline-primary"> Contato </button>
          </a>
        </p>
      </main>
    </div>
  </div>
{% endblock %}