<!DOCTYPE html>
<html>

<head>
  {% include "partials/head.html" %}
</head>

<body id="initialPage">

  <div class="container welcome">
    <div class="text-center">
      <main>
        <h1> DevPath </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <p class="lead">
          <a href="/user/register">
            <button type="button" class="btn btn-outline-primary">Cadastro</button>
          </a>
          <a href="/user/login">
            <button type="button" class="btn btn-outline-primary">Login</button>
          </a>
          <a href="./servicos">
            <button type="button" class="btn btn-outline-primary"> Serviços </button>
          </a>
          <a href="./contato">
            <button type="button" class="btn btn-outline-primary"> Contato </button>
          </a>
        </p>
      </main>


    </div>
  </div>

{% include "partials/scripts.html" %}


</body>

</html>