{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block body_content %}
{% include "partials/navbar.html" %}
    
<!-- WELCOME - Informações sobre o usuário -->
<div class="container">
  <div class="jumbotron">
    <h1 class="display-6">Olá, {{ user.get_full_name }}!</h1>
    <hr class="my-4">
    <div class="card">
      <div class="card-header">Informações pessoais</div>
      <div class="card-body">
        <p class="card-text">Username: {{user.get_username}}</p>
        <p class="card-text">EMAIL: {{user.email}}</p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">Sistema</div>
      <div class="card-body">
        <p class="card-text">Algum campo importante</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;- Alguma Mensagem util para esse campo</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;- Alguma Mensagem util para esse campo</p>
      </div>
    </div>
    <a href="#">
      <button type="button" class="btn btn-primary" style="margin-top: 3em">Alguma ação</button>
    </a>
  </div>
</div>

{% endblock %}