{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block body_content %}
{% include "partials/navbar.html" %}
  <!-- Tabs navegation -->
  <div class="container col-sm-8">
    {% include "partials/tabs.html" %}

    <!-- Skills - aba 1; -->
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade show active" id="home">
        <div class="card p-5">
          <h1 class="display-6">Projects</h1>
          <hr class="my-4">
          <div class="row">
            <form action="{% url 'dashboard:add_project' %}" method="POST" class="col-md-12">
              {% csrf_token %}
              <!-- Input 1 -->
              <div class="input-group  mt-4">

                <div class="input-group-prepend">
                  <select name="item_id">
                    <option selected>Choose...</option>
                    {% for project in projects %}
                      <option value="{{ project.id }}">{{ project.name }} - {{ project.project_type }}</option>
                    {% endfor %}
                  </select>
                </div>

                <input type="text" class="form-control">

              </div>

              <button type="submit" class="btn btn-primary mt-4">Adicionar</button>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}