<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/head.html" %}
</head>

<body>
  <div class="services">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a href="/" class="navbar-brand myBrand">My Web Office</a>
        <ul class="navbar-nav">
          <li class="nav-item"><a href="/" class="nav-link">INICIO</a></li>
          <li class="nav-item active"><a href="/servicos" class="nav-link">SERVIÇOS</a></li>
          <li class="nav-item"><a href="/contato" class="nav-link">CONTATO</a></li>
        </ul>
      </div>
    </nav>

    <div class="banner">
      <div class="box">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h1>Serviços</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="description">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h3>Crie seu curriculo on-line</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
          </div>
          <div class="col-4">
            <h3>Compartilhe seu curriculo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
          </div>
          <div class="col-4">
            <h3>Recomende um amigo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="social-media">
      <div class="box">
        <div class="container">
          <div class="row">
            <div class="col-6 text-center">
              <h5>Mídias sociais</h5>
              <div>
                <p>Facebook</p>
                <p>twitter</p>
                <p>instagram</p>
              </div>

            </div>
            <div class="col-6 text-center">
              <h5>Locais</h5>
              <div>
                <p>Av Rua ?????, num 1234</p>
                <p>(85) 9 9999 9999</p>
                <p>devpathoffice@email.com.br</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- JS Bootstrap -->

</body>
{% include "partials/scripts.html" %}

</html>