<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skill</title>
</head>
<body>

    <h1>New/Update skill</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>


    {% if skill %}
        <a href="{% url 'dashboard:delete_skill' skill.id %}">Delete</a>
    {% endif %}
</body>
</html>